scipy>=1.2.0
scikit-image>=0.15.0
keras>=2.2.4
tensorflow>=1.13.1
tensorflow-gpu>=1.13.1
numpy>=0.23.4
opencv-python>=3.4.4.19
cython
imageio>=2.5.0
chainercv>=0.12.0
git+https://github.com/lucasb-eyer/pydensecrf.git
torch
torchvision
tqdm